body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
    width: 40em;
    margin: 10em auto;
}
h1 { 
    font-family:arial,helvetica,clean,sans-serif;
    text-align: center;
}
#searchBox {
    width: 20em;
    margin: 8em auto;
}
#id_searchText {
    width: 20em;
    margin: 0 auto;
}